body {
  background-image: url('img/graffiti.jpg');
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}
.location_details, .hours_details, .about_us_title{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.main_housing {
  height: auto;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  width: 75vw;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('img/transp.png');
  background-color: hsla(0,0%,100%,0.1);
  background-blend-mode: overlay;
  background-size: contain;
  background-repeat: no-repeat repeat;
}
.nav {
  margin-left: -12.5vw;
  margin-right: -12.5vw;
}
.title {
  color: white;
  text-align: center;
  margin-top: 45vh;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}
.subtitle, .subtitle_date {
  color: white;
  text-align: center;
  margin-top: 1vw;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}
.location, .hours, .about, .social_title{
  color: white;
  margin-top: 25vw;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.map_col {
  margin-top:32vw;
}
.about_us_title {
  font-size: 2vw;
}
.social_title {
  text-align: center;
  color: white;
  font-size: 2vw;
}
.about_us {
  text-align:center;
  font-size:1.2vw;
}

* {
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 600px) {
  .hours {
    margin-top: 7vw;
  }
  .map_col {
    margin-top: 7vw;
  }
}
